.header {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__img {
  margin: 40px 0 120px 40px;
  width: 200px;
}

@media(min-width: 820px) {
  .header__img {
    margin: 80px 0 10px 80px;
    width: 300px;
  }
}

.header__text {
  margin: 20px 0 20px 40px;
  padding: 20px;
  color: var(--light-secondary-color);
  font: 700 26px 'Roboto', sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media(min-width: 570px) {
  .header__text {
    font-size: 34px;
  }
}

@media(min-width: 730px) {
  .header__text {
    font-size: 40px;
  }
}

@media(min-width: 820px) {
  .header__text {
    font-size: 45px;
    margin-left: 40px;
  }
}
