.header {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
  width: 100%;

  grid-column: 1 / -1;
}

@media (min-width: 890px){
  .header {
    padding: 20px 50px 50px 50px;
  }
}

.header__figure {
  margin: 20px 50px;
}

@media (min-width: 890px) {
  .header__figure {
    display: none;
  }
}

.header__text {
  margin: 20px 0;
  padding: 200px 50px 50px;
  color: var(--light-secondary-color);
  font: 700 34px 'Roboto', sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media(min-width: 570px) {
  .header__text {
    font-size: 36px;
  }
}

@media(min-width: 730px) {
  .header__text {
    font-size: 42px;
  }
}

@media(min-width: 890px) {
  .header__text {
    font-size: 46px;
    padding: 20px 0;
  }
}
