.header {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 50px;

  grid-column: 1 / -1;
}

.header__text {
  margin: 20px 0;
  padding: 20px 0;
  color: var(--light-secondary-color);
  font: 700 60px 'Roboto', sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media(min-width: 570px) {
  .header__text {
    font-size: 34px;
  }
}

@media(min-width: 730px) {
  .header__text {
    font-size: 40px;
  }
}

@media(min-width: 820px) {
  .header__text {
    font-size: 45px;
  }
}
