.menu{
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 10px;
		justify-items: end;
		align-items: start;
}

.menu__figure {
	margin: 0;
}

.menu__img {
	object-fit: contain;
}

[aria-controls="menu-list"] {
	display: none;
}

.menu__list {
	margin: 0;
	padding: 0;
	max-width: 650px;
	width: 100%;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, auto));
	justify-items: end;
	grid-gap: 10px;
}

.menu__list__link {
	text-decoration: none;
	color: var(--light-secondary-color);
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.menu__list__link:hover {
	color: #cea1ff;
	border-bottom: 2px solid #ff50cd; 
}
