.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 1020px) {
  .about {
    flex-wrap: nowrap;
  }
}

.about__content {
  width: 100%;
  grid-column:  1 / 7;
}

@media (min-width: 1020px) {
  .about__content {
    margin-right: 20px;
  }
}

.about__title {
  text-align: center;
}

@media (min-width: 1020px) {
  .about__title {
    text-align: left;
  }
}

.about__text {
  width: 100%;
  margin-top: 16px;
  text-align: left;
  color: var(--secondary-color);
  font: 300 16px 'Roboto', sans-serif;
  line-height: 2.5;
}

.about__figure {
  width: 100%;
  margin: 0;
  grid-column:  8 / 13;
}

.about__img {
  width: 100%;
}
