.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px;
}

.about__content {
  width: 100%;
  padding-bottom: 30px;
  grid-column:  1 / -1;
}

@media (min-width: 1020px) {
  .about__content {
    padding-right: 30px;
    grid-column:  1 / 7;
  }
}

.about__title {
  text-align: center;
}

@media (min-width: 1020px) {
  .about__title {
    text-align: left;
  }
}

.about__text {
  width: 100%;
  margin-top: 16px;
  text-align: left;
  color: var(--secondary-color);
  font: 300 16px 'Roboto', sans-serif;
  line-height: 2.5;
}

.about__figure {
  width: 100%;
  height: 100%;
  margin: 0;
  grid-column:  1 / -1;
}

@media (min-width: 1020px) {
  .about__figure {
    grid-column:  7 / 13;
  }
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
