.contact {
  width: 100%;
  padding: 50px;
  background: rgba(194,168,207,0.23);
}

.contact__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
}

.contact__figure {
  margin: 0;
  height: 100%;
  padding: 0 0 30px 0;
  grid-column:  1 / -1;
}

@media (min-width: 1020px) {
  .contact__figure {
    padding: 0 30px 0 0;
    grid-column:  1 / 7;
  }
}

.contact__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
