 
.service-section-one{
    display: flex;
    padding-top: 82px;
    margin-top:100px;
    margin-bottom: 82px;
    margin-left: 40px;
}

.service-section-three{
    display: flex;
    padding-top: 82px;
    /* margin-top:100px; */
    margin-left: 40px;
    margin-bottom: 4em;

}

.service-section-three h1{
    width: 600px;
    color: #722183;
    font-size: 40px;
    font-weight: 500;
    padding-left: 100px;
    /* padding-top: 114px; */
    /* margin-bottom: 50px; */
    font-family: 'Roboto'sans-serif;

}

.service-section-three p{
    width: 600px;
    color: var(--secondary-color);
    line-height: 30px;
    line-height: 2.5;
    font-size: 1em;
    padding-top: 10px;
    padding-left: 100px;
    margin-top:-10px;
    margin-bottom: 59.5px;
    font-weight: 300;
    text-align: left;
    font-family: 'Roboto' sans-serif;
    
}


.service-section-one h1{
    width: 600px;
    color: #722183;
    font-size: 2em;
    font-weight: 500;
    padding-left: 100px;
    /* padding-top: 114px; */
    /* margin-bottom: 50px; */
    font-family: 'Roboto'sans-serif;
}


.service-section-one p{
    width: 600px;
    color: var(--secondary-color);
    line-height: 30px;
    line-height: 2.5;
    font-size: 1em;
    padding-top: 10px;
    padding-left: 100px;
    margin-top:-10px;
    margin-bottom: 59.5px;
    font-weight: 300;
    text-align: justify;
    font-family: 'Roboto' sans-serif;
}

/* .service-section-one .palestra p{
    color: #47525E;
    font-family: 'Roboto' sans-serif;
    font-size:20px;
    margin-left: -100px;
    margin-top: 100px;

} */

/* .service-section-one .palestra img{
    margin-right: 20px;
} */

.service-section-two{
    display: flex;
    padding-top: 82px;
    margin-top:100px;
    margin-left: 40px;
}


.service-section-two h1{
    width: 430px;
    /* height: 200px; */
    font-weight: 500;
    color: #722183;
    font-size: 2em;
    padding-left: 60px;
    padding-top: -20px;
    /* margin-bottom: 50px; */
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Roboto' sans-serif;
}


.service-section-two p{
    width: 450px;
    color: var(--secondary-color);
    line-height: 30px;
    font-size: 1em;
    line-height: 2.5;
    padding-top: -10px;
    padding-left: 60px;
    margin-top:10.5px;
    font-weight: 300;
    text-align: justify;
    font-family: 'Roboto' sans-serif;
}


.service-section-two img{
    margin-left: 50px;
    margin-bottom: 50px;

}

/* .service-section-two span{
    color: #47525E;
    font-family: 'Roboto'sans-serif;
    font-weight: 400;
    font-size:20px;
    margin-left: 5px;
    margin-top: 40px;
} */



.service-section-one .palestra img{
    width: 45.7px;
    height: 28.5px;
   
}

/* .service-section-two .palestra p{
    color: #47525E;
    font-family:'Roboto'sans-serif;
    font-size:20px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 30px;

} */


/* .service-section-two .palestra img{
    width: 45.7px;
    height: 28.5px;
    margin-left: -50px;
    margin-top: 40px;  
    margin-right: 20px;   
} */


/* SERVICE SECTION ONE RESPONSIVE-*/

@media (max-width: 900px) {
    .service-section-one{
        display: grid;
    }
    .service-section-one img{
        width: 100%;
        justify-content: center;
        padding-right: 40px;
        margin-top:-150px;
    }
    .service-section-one h1{
        padding-top: 10px;
        width:100%;
        padding-left:0px; 
        text-align: left;
        font-weight: 200;
        max-width: 300px;
        margin-top: 50px;
        font-weight: 500;
        font-family: 'Roboto'sans-serif;
        font-size:1.5em;
    }
    .service-section-one p{
        width: 100%;
        padding-top: 3px;
        padding-left: 0px;
        padding-right: 32px;
        text-align: left;
        font-size:1em;
        color: #47525E;
    } 

    /* .service-section-one .palestra p{ 
        padding-left: 30px;
        margin-top: 10vh;
        margin-left: 10px;
        color: #47525E;
        font-family: 'Roboto'sans-serif;
        font-size:20px;
        
        
    } */

    /* .service-section-one .palestra img{
        width: 50%;
        margin-top: -1vh;
        margin-right: -70px;
        margin-left: -80px;
        
    } */
}

/* SERVICE SECTION TWO RESPONSIVE-*/

@media (max-width: 900px) {
    .service-section-two{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .service-section-two img{
         width: 100%;
         margin-top: -20px;
         margin-left:-20px;
         margin-bottom: 80px;
    }

    .service-section-two p{
        width: 100%;
        padding-left: 0px;
        padding-right: 30px;
        text-align:left;
        font-size:1em;
        margin-top:-3vh;
        color:#47525E;
        
    }

    .service-section-two h1{
        width: 100%;
        padding-left: 0px; 
        text-align: left;
        font-weight: 200;
        max-width: 400px;
        font-weight: 500;
        color:#722183;
        margin-top:-20px;
        font-size:1.5em;
    }

    /* .service-section-two .palestra p{ 
        padding-left: 30px;
        margin-top: 20px;
        margin-left: 10px;
        color:#47525E;
        display: flex;
        
    } */

    /* .service-section-two .palestra img{
        margin-top: 2px;
        margin-right: 20px;
      
    } */

}  