* {box-sizing:border-box}

.skills {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px;
}

.skills__content {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  grid-column:  1 / -1;
}

.skills__skillset {
  width: 100%;
  padding-bottom: 30px;
  grid-column:  1 / -1;
}

.skills__subtitle {
  color: #47525E;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 0;
}

.skills__text {
  width: 100%;
  margin-top: 10px;
  text-align: justify;
  color: var(--secondary-color);
  font: 300 16px 'Roboto', sans-serif;
  line-height: 2;
}

.skills__title {
  width: 100%;
  color: #722183;
  font-weight: 600;
  font-size: 16px;

}

.skill__skillbar {
  width: 100%;
  background-color: #E1E7ED;
}

.skill__name {
  color: #47525E;
  font-weight: 300;
  margin-bottom: 8px;
}

.skill {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  padding: 6px 10px;
  color: white;
  /* background-color: #722183; */
  background-image: linear-gradient(#722183, #9A71BD);
}

.html {width: 80%;}
.css {width: 40%;}
.js {width: 50%;}
.react {width: 50%;}
.mysql {width: 40%;}

@media (min-width: 1020px) {
  .skills__content {
    padding-right: 30px;
    grid-column:  1 / 7;
  }
  .skills__skillset {
    grid-column:  8 / 12;
  }
}

@media (min-width: 1020px) {
  .skills__title {
    text-align: left;
  }
}
