
.statistic{
    background: url(../../images/statistic.png) no-repeat center center;
    background-size:'cover'; /* This value don't need about quotation marks */
    width:100%;
    height: 100%; /* It is not good practice to set a height for components, you do not need this property */
    height: 253px; /* See the tips above <3 */ 
    flex-flow: row wrap; /* You don't need about this property for now */
   

    background-size: cover; /* This property is duplicate, please keep just one */
    padding: 50px;
    width:100%; /* This property is duplicate, please keep just one */     
}


    background-size: cover;
    padding: 50px;
    width:100%;     


    background-size: cover;
    padding: 50px;
    width:100%;     

}






 

  
