.team{
  width: 100%;
  padding: 50px 50px 100px 50px;
  background: rgba(194,168,207,0.23);
}

.team__title {
  text-align: center;
  padding: 40px auto;
}

.team__content {
  max-width: 1200px;
  width: 100%;
  justify-items: center;
  padding: 20px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media (min-width: 880px) {
  .team__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .team__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  background: var(--light-secondary-color);
  border: 1px solid #E1E7ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px;
} 

.team__card__figure {
  margin: 0;
}

.team__card__img{
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.team__card__title{
  color: var(--dark-primary-color);
  font: 500 28px 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin: 5px 0;
}  

.team__card__text {
  text-align: center;
  color: var(--secondary-color);
  font: 300 16px 'Roboto', sans-serif;
  margin: 0 0 5px 0;
  padding: 5px
}
