.form {
  grid-column:  1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 30px 0;
  text-align: left;
}

@media (min-width: 1020px) {
  .form {
    padding: 0 0 0 30px;
    grid-column:  7 / 13;
  }
}

.form__field {
  width: 100%;
  margin: 5px;
  position: relative;
}

.form__input {
  font-size: 1em;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
  display: block;
	background: #fafafa;
	color: var(--secondary-color);
	width: 100%;
	border: none;
	border-radius: 0;
  margin-bottom: 5px;
  background-image: none !important;
  border-bottom: 1px solid var(--primary-color)
}

.form__label-group {
  display: flex;
  align-items: flex-end;
  color: var(--primary-color); 
}

.form__label {
	font-size: 14px;
	font-weight: normal;
  pointer-events: none;
  padding-left: 5px;
	transition: all 0.2s ease; 
}

.form__title {
  margin: 0 0 20px 0;
  width: 100%
}

.form__require {
  font-size: 16px;
}

.form__textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  min-height: 2ch;
}

textarea:active {
  width: 100%;
}

.form__submit {
  font-size: 14px;
  color: var(--light-secondary-color);
  border: 1px var(--dark-primary-color);
  border-radius: 3px;
  background: var(--dark-primary-color);
  padding: 10px;
  width: 100%;
}

.form__submit:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
}

.form__submit:active {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.form__submit--inactive {
    background: #e1e1e1;
}

.form__submit--inactive:hover {
    cursor: auto;
    background-image: none;
}

.form__submit--inactive:active {
    background-image: none;
}

.form__validate {
  transition: opacity 300ms ease 0s;
  color: rgb(188, 9, 31);
}
