.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  grid-column: 1 / -1;
}

@media (min-width: 760px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.footer__figure {
  margin: 0;
}

.footer__img {
  width: 150px;
  margin-top: -10px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 760px) {
  .footer__list {
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.footer__list__title {
  margin: 0;
  /* color: var(--dark-primary-color); */
  color: #47525e;
  font-weight: 300 !important;
  font: 500 1em 'Roboto', sans-serif;
  text-decoration: none;
}

.footer__list__item {
  margin-top: 5px;
  padding: 5px;
}

.footer__list__link {
  text-decoration: none;
  color: var(--secondary-color);
  font: 300 14px 'Roboto', sans-serif;
}

.footer__title {
  margin-top: 10px;
  color: var(--dark-primary-color);
  font: 500 1em 'Roboto', sans-serif;
}

.footer__list__social-network {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list__item__social-network {
  margin: 5px 5px 0 0;
}

.footer__list__wwcode {
  margin: 0px 0 0 10px;
  color: var(--dark-primary-color);
  font: 500 1em 'Roboto', sans-serif;
}
